name: "Triggers"
run-name: "testing some triggers"
on: 
  push:
    branches:
      - "aprendiendo-github-actions"
  pull_request:
    types: [opened] 
  issues:
    types: [opened]
jobs:
  # Get the current step from .github/script/STEP so we can
  # limit running the main job when the learner is on the same step.
  print:
    name: Print Hello
    runs-on: ubuntu-latest
    steps: 
        - uses: actions/checkout@v4
        
        - name: Setup Node
          uses: actions/setup-node@v4
          with:
              node-version: 18

        - name: print final
          run: echo "trigger" 
